<h1 align="center">All your conversions</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Decimal</th>
      <th scope="col">Binary</th>
      <th scope="col">Octal</th>
      <th scope="col">Hexadecimal</th>
    </tr>
  </thead>
  <tbody>
    <% @numbers.each do |number| %>
      <tr>
        <th scope="row"><%= number.decimal %></td>
        <td><%= number.binary %></td>
        <td><%= number.octal %></td>
        <td><%= number.hexadecimal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= link_to 'Convert', new_number_path, class: 'btn btn-primary' %>
