<h1 align="center">Binary System</h1>

<h3>What is Binary?</h3>
<ul>
  <li>
    Binary is nothing more than a System of Counting    
  </li>
  <li>
    Everything in a computer’s brain comes down 0’s & 1’s
  </li>
  <li>
    Binary existed before computers
  </li>
  <li>
    Binary is an ON or OFF counting system, all or nothing. ‘1’ represents ON, ‘0’ represents OFF.
  </li>
  <li>
    Because each digit in binary can have 2 values, the base is 2 (see the example below for clarification)
  </li>
</ul>

<h5>Don't worry yet...</h5>
<p>
  1.- Below is an 8 digit binary number
</p>

<p>
  2.- We calculate binary from right to left
</p>

<div align="center">
  <%= image_tag 'binary/binary_first' %>
</div>

<p>
  3.- Because it’s a base 2 system, each digit is 2 to the power of (n). (n) refers to the placement of the number.
</p>

<p>
  4.- A binary number is pretty much telling us whether or not we are using that value
</p>

<div align="center">
  <%= image_tag 'binary/binary_second' %>
</div>

<p>
  5. The 1 value tells us we are using that value (represented by green checkmarks) & the 0 value tell us we are not using that value (represented by red X’s).
</p>

<div align="center">
  <%= image_tag 'binary/binary_third' %>
</div>

<p>
  6. The first digit in this example is representing that the value 2 to the power of 0 is ON
</p>

<div align="center">
  <%= image_tag 'binary/binary_forth' %>
</div>

<p>
  7. The second digit (2 to the power of 1) is OFF so the value is 0.
</p>

<div align="center">
  <%= image_tag 'binary/binary_fifth' %>
</div>

<p>
  Let’s represent those 2 values in our drawing..
</p>

<div align="center">
  <%= image_tag 'binary/binary_sixth' %>
</div>

<p>
  Let’s calculate the rest of the values & add the ones that are ON together…
</p>

<div align="center">
  <%= image_tag 'binary/binary_seventh' %>
</div>

<p>
  What we just did can be represented in the following equation:
</p>

<div align="center">
  <%= image_tag 'binary/binary_eigth' %>
</div>
