<h1 align="center">Decimal System</h1>

<h3>decimal system noun</h3>
<h4>Definition of decimal system</h4>
<hr>
<p>
  1 : a number system that uses a notation in which each number is expressed in base 10 by using one of the first nine integers or 0 in each place and letting each place value be a power of 10
<p>
<p>
  2 : a system of measurement or currency in which the basic units increase by powers of 10
</p>
<p>
  The decimal system is named so because it has 10 unique symbols. These symbols are of course 0, 1, 2, 3, 4, 5, 6, 7, 8, and 9. Since each place can hold only 9, we need to increase each position in our place-value system by a factor of ten.
</p>
<p>
  Our first place-value is the units or ones place. We can fill this position with any numbers 0–9.
</p>
<div align="center">
  <%= image_tag 'decimal/decimal_first' %>
</div>

<p>Once we get to 9, we need to start a new column to the left.</p>

<div align="center">
  <%= image_tag 'decimal/decimal_second' %>
</div>

<p>
  When we place numbers in this column we no longer are referring to how many single units we have. This new column represents how many tens we have. With only two columns, we can count the whole numbers up to 99.
</p>

<p>
  But once we get there we’re stuck again. We now need a column to express how many hundreds we have.
</p>

<p>
  Add a hundred’s column to express all the numbers up to 999.
</p>

<div align="center">
  <%= image_tag 'decimal/decimal_third' %>
</div>

<p>
  And you guessed it, once we get there we need a column to express thousands. This process can keep going as long as we need by adding new columns to the left, each ten times larger in value than the previous.
</p>

<div align="center">
  <%= image_tag 'decimal/decimal_fourth' %>
</div>

<p>
  Now we can easily dissect any number we’re given.
</p>

<p>
  For example, suppose we are given the number 273. By looking at the decimal place-value system 273 has 2 hundreds, 7 tens and 3 ones.
</p>

<div align="center">
  <%= image_tag 'decimal/decimal_fifth' %>
</div>

<p>
  Therefore, we can express the number 273 in expanded form as:
</p>

<div align="center">
  <%= image_tag 'decimal/decimal_sixth' %>
</div>
